@{
    ViewData["Title"] = "About";
}

<body style="background: url('/wwwroot/Developer_Background.jpg');">
    <div class="card text-center" style="padding:20px;">
        <h1 class="display-4">About Me</h1>
        <br>
        <p>Hello, my name is Thomas Neider. I am a software developer with a passion for cooking and learning. I have experience in various programming languages and technologies, such as C#, SQL, ASP.NET, Entity Core, MVC, Razor, and more. I am currently pursuing a degree in computer programming at Lorain County Community College, where I have acquired skills in database design, web development, object-oriented programming, and application development. I am eager to continue my education at Akron State University to get my Bachelors.</p>
        <p>I am a good communicator, an analytical thinker, and a problem solver. I am looking for a career that allows me to make connections while working on code that will make a positive impact in the world. I am open to work as a software engineer, apprentice, or programmer in the IT industry.</p>
        <p>In addition to my technical skills, I have worked as a cook at different restaurants, such as Texas Roadhouse, Quaker Steak & Lube, and Red Robin, where I have demonstrated culinary skills, food safety, employee training, and team leadership. I enjoy creating delicious dishes and learning new recipes.</p>
    </div>
</body>