@{
    ViewData["Title"] = "Home";
}
<body style="background: url('/wwwroot/Developer_Background.jpg');">
    <div>
        <div class="card text-center">
            <h1 class="display-4">Welcome to My Portfolio</h1>
            <br>
            <p><u>My name is Thomas Neider, and I'm a Software Developer.</u></p>
            <p style="padding:20px">Currently, I am on track to graduate with an associates at Lorain County Community College.
                I've worked on projects such as my DevOps Website, which you can find on the projects page.
                The purpose of this website is to educate others about DevOps. It mentions services such as Azure, ASP.NET, and contains scripts to get started!
                Using the resources on this page, you can find a collection of my work, skills, and professional experience. Feel free to explore!</p>
        </div>
        <br>
        <div class="row">
        <div class="col-md-4">
            <div class="card">
            <div class="card-body text-center">
                <h2>About Me</h2>
                <p>I am a fullstack developer who uses Azure to host applications and services.
                    If you click below, you can find out more information about where I have studied and my general experience.</p>
                <a class="btn btn-primary" asp-controller="Portfolio" asp-action="About">Learn More »</a>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
            <div class="card-body text-center">
                <h2>Projects</h2>
                <p>Here is a link to my personal GitHub: <a href="https://github.com/Azosk">Azosk</a>.</p>
                <p>To checkout the DevOps Site, use this link: <a href="https://azosk.azurewebsites.net">DevOps Site</a>.</p>
                <p> For an overview of the projects I have worked on, click below.</p>
                <a class="btn btn-primary" asp-controller="Portfolio" asp-action="Projects">View Projects »</a>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
            <div class="card-body text-left">
                <h2>Contact</h2>
                <p>Email : azoskalias@gmail.com</p>
                <p>LinkedIn : <a href="https://www.linkedin.com/in/thomas-neider-b764ba218/">Thomas Neider</a></p>
                <p>GitHub : <a href="https://github.com/Azosk">Azosk</a></p>
                <div class="container">
                    <img src="css/Neider.jpg" style="float:right;border: solid black 2px;max-width:100%;max-height:100%;">
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</body>