@{
    ViewData["Title"] = "Projects";
}

<body style="background: url('/wwwroot/Developer_Background.jpg');">
    <div class="card">
        <h1 class="display-4 text-center">Projects</h1>
        <p>
            <h2>DevOps Site</h2>
            <i><strong>Nov 2023 - Present</strong></i>
            <br>The website is intended to be a reference point for developers who practice DevOps or are interested in beginning their DevOps journey. It can be found at my GitHub using the following link:
            <a href="https://github.com/Azosk/DevOps_Site">https://github.com/Azosk/DevOps_Site</a>
            <br><br><strong>Skills:</strong> GitHub · Git · Entity Framework (EF) Core · ASP.NET MVC · Visual Studio · SQL · C#
        </p>
    </div>
</body>