@{
    ViewData["Title"] = "Projects";
}

<body style="background: url('/wwwroot/Developer_Background.jpg');">
    <div class="card" style="padding:20px;">
        <h1 class="display-4 text-center">Projects</h1>
        <p style="border-top:2px solid black;">
            <h2><u>DevOps Site</u></h2>
            <i><strong>Nov 2023 - Present</strong></i><br>
            <h5>Project Description</h5>
            The website is intended to be a reference point for developers who practice DevOps or are interested in beginning their DevOps journey.<br>
            <br><p><b>Website Link:</b></p>
            <a href="https://devops-site.azurewebsites.net/">https://devops-site.azurewebsites.net/</a>
            <br><p><b>Source Code</b></p>
            <a href="https://github.com/Azosk/DevOps_Site">https://github.com/Azosk/DevOps_Site</a>
            <br><strong>Skills:</strong>Azure · Identity · GitHub · Git · Entity Framework (EF) Core · ASP.NET MVC · VS Code · SQL · C#
        </p>
        <br> <iframe src="https://devops-site.azurewebsites.net/" style="width:100%;height:500px;"></iframe>
        <p style="border-top:2px solid black;"></p>
    </div>
</body>